.Card {
    border: 4px solid #F78E21;
    border-radius: 20px;
    padding: 15px;
    margin: 50px;
    transition: 0.25s ease-in-out;
    cursor: pointer;
}
.Card p {
    font-size: 1.3rem;
    color: #fff;
    font-family: 'Roboto';
    font-weight: 600;
}
.Card:hover {
    background-color: #F78E21;
}