#gameover {
    width: 70%;
    height: 560px;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #595959;
    border-radius: 50px;
}
.btn-redo {
    margin: 40px;
}
#gameover h2 {
    margin-bottom: 100px;
}
.score {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
